/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */

    /* regole menu navigazione */
    .header-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        /* DEBUG */
        background-color: aquamarine;
        height: 50px;
    }

    header nav ul{
        display: flex;
    }

    /* regole descrizione */
    .header-description{
        /* DEBUG */
        background-color: blue;
        height: 350px;
    }