/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-dimension{
    width: 70%;
}

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DEBUG */
div{
    border: 1px dotted black;
}



/* regole header */

    /* regole menu navigazione */

    /* parte di sfondo */
    .header-nav{
        height: 50px;
        /* DEBUG */
        background-color: aquamarine;
    }

    /* container del logo - link - login */
    .nav-disposition{
        display: flex;
        justify-content: space-between;
    }

    /* dimensioni per logo e login */
    .position{
        width: 20%;
    }

    .login{
        text-align: end;
    }

    /* dimensioni per la parte dei link */
    nav{
        width: 60%;
    }

    /* impostazione dei link */
    header nav ul{
        list-style-type: none;
        gap:10px;
    }

    a{
        text-decoration: none;
    }

    /* regole descrizione */

    /* parte di sfondo */
    .header-description{
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: stretch;
        /* DEBUG */
        background-color: blue;
    }
    
    /* parte di posizione del testo */
    .header-description div{
        margin: 40px 0;
        width: 50%;

        /* DEBUG */
        background-color: plum;
    }

/* regole main */

    /* regole file dispari */

    /* sfondo */
    .odd{
        align-items: stretch;

        /* DEBUG */
        height: 450px;
    }

    .odd div{
        margin: 40px 0;
        min-height: 200px;
    }

    /* DEBUG */
    .container-height{
        height: 80%;
    }

    .imagine{
        width: 60%;
        height: 100%;

        /* DEBUG */
        background-color: rgb(46, 111, 181);
    }

    .text{
        width: 40%;
        height: 100%;

        /* DEBUG */
        background-color: rgb(255, 196, 207);
    }

    /* regole file pari */
    .even{
        align-items: stretch;

        /* DEBUG */
        background-color: rgb(147, 144, 144);
        height: 450px;
    }

    .even div{
        margin: 40px 0;
        min-height: 200px;
    }


    /* regole informazioni finali */
    .final-info{
        display: flex;
        justify-content: center;
        align-items: stretch;
        /* DEBUG */
        height: 700px;
        background-color: rgb(147, 144, 144);
    }

    .final-info div{
        margin: 40px 0;

        /* DEBUG */
        background-color: green;
    }

/* regole footer */

footer{
    background-color: #23272a;
    height: 400PX;
}

.info-generali{
    height: 80%;
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
    
    /* debug */
    background-color: white;
}

.container-flex-footer{
    display: flex;
}

.social{
    width: calc(100% / 3);

    /* DEBUG */
    background-color: rosybrown;
}

.link-utili{
    width: calc(100% / 6);

    /* DEBUG */
    background-color: rgb(65, 165, 165);
}

.link-finali{
    width: 70%;
    margin: 0 auto;
    border-top: 1px solid blue;
    padding-top: 10px;
    margin-top: 20px;
}

.link-finali div{
    width: 50%;
    /* DEBUG */
    background-color: aquamarine;
}

.registrati{
    text-align: end;
    /* DEBUG */
    background-color: aquamarine;
}