/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-dimension{
    width: 70%;
}

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DEBUG */
div{
    border: 1px dotted black;
}



/* regole header */

    /* regole menu navigazione */

    /* parte di sfondo */
    .header-nav{
        /* DEBUG */
        background-color: aquamarine;
        height: 50px;
    }

    /* container del logo - link - login */
    .nav-disposition{
        justify-content: space-between;
    }

    /* dimensioni per logo e login */
    .position{
        width: 20%;
    }

    .login{
        text-align: end;
    }

    /* dimensioni per la parte dei link */
    nav{
        width: 60%;
    }

    /* impostazione dei link */
    header nav ul{
        list-style-type: none;
        gap:10px;
    }

    a{
        text-decoration: none;
    }

    /* regole descrizione */

    /* parte di sfondo */
    .header-description{
        /* DEBUG */
        background-color: blue;
        height: 350px;
    }
    
    /* parte di posizione del testo */
    .header-description div{
        width: 50%;
        height: 80%;

        /* DEBUG */
        background-color: plum;
    }

/* regole main */

    /* regole file dispari */

    /* sfondo */
    .odd{
        height: 450px;
    }

    /* DEBUG */
    .container-height{
        height: 80%;
    }

    .imagine{
        width: 60%;
        height: 100%;

        /* DEBUG */
        background-color: rgb(46, 111, 181);
    }

    .text{
        width: 40%;
        height: 100%;

        /* DEBUG */
        background-color: rgb(255, 196, 207);
    }

    /* regole file pari */
    